.center-block{
	display: flex;
}

.header{
	/* background: wheat; */
	text-align: center;
	font-size: 24px;
	padding: 10px;
	border-bottom: 1px #ccc solid;
}
.menu{
	/* background: green; */
    display: flex;
	/*border-bottom: 1px #ccc solid; */
	font-size: 20px;
	height: 80px;
}
.menu ul {
	display:none;
}
.menu > ul {
	display:flex;
	flex-wrap:wrap;
	margin: 10 auto;
	z-index: 5; 
	list-style-type: none;
}
.menu li:hover ul{
	display:block;
}
.menu > ul  li{
	list-style-type: none;}

.center-block .images{
	display: flex;
	flex-wrap: wrap;
}
.center-block .content img{
	max-width: 200px;
	max-height: 200px;
}
.footer{
	/* background: #ccc; */
	border-top: 1px #ccc solid;
	color: #ccc;
	text-align: center;
}

.button{
	background: #acf;
	border: 1px #ccc solid;
	border-radius: 20px;
	padding: 5px;
	cursor: pointer;
	margin: 5px;
}

.button:hover{
	background: #0f0;
	border: 1px red solid;
}
.fix_{
	display:flex;
	width:100%;
	justify-content: flex-end;
}	
.smile{
	position:fixed;
}
.smile img{
	width:40px;
	height:30px;
}	
.images{
	width: 100%;
	display: flex;
}

.popup{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.popup .cover{
	position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
	z-index: 10;
}
.popup .content{
	width: 300px;
	height: 300px;
	background: #fff;
	z-index: 20;
}

.instrument{
	width:250px;
	border: 1px #ccc solid;
	margin: 5px;
}
.instrument-name{
	text-align: center;
	border: 1px #ccc solid;
	font-size: 20px;
}
.instrument-img{
	text-align: center;
	border: 1px #ccc solid;
	height:150px;
}
.buttons{
	display:flex;	
	heigth: 40px;
	border-radius: 5px;
	justify-content: space-between;
	align-items:center;
}
.click1{
	border-radius: 10px ;
	background-color: #5ff;
	margin: 1px 1px;
}
.click1.hover{
	background-color: #f5f;
}
.instrument-about table td{
	border: 1px #ccc solid;
}	
.instrument-about table{
	width:100%
}
.instrument-about table tr:nth-of-type(2n+1){
	background:#ccc;	
}
.instrument-about table tr:nth-of-type(1){
	text-align: center;	
	background:#ffe;
}
.imgtable{
	text-align: center;
}
	